.contacts__list {
    margin-top: 20px;
}

.contacts__item {
    margin-left: 40px;
    list-style: disc;

    &:not(:last-child) {
        margin-bottom: 7px;
    }
}

.loading {
    margin-top: 20px;
    margin-left: 20px;
}